[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=PP Control
Comment=Rafael's Suspend
Exec=/usr/bin/maemo-pp-control
Icon=maemo-pp-control
Type=Application
Categories=System;
