[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Suspend
Comment=Rafael's Suspend
Exec=/usr/bin/maemo-suspend
Icon=suspend
Type=Application
Categories=System;
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=maemo-suspend
X-Osso-Type=application/x-executable
